[submodule "twisty.js/twisty.js"]
	path = twisty.js/twisty.js
	url = git@github.com:jfly/twisty.js.git
[submodule "git-tools"]
	path = git-tools
	url = git@github.com:jfly/git-tools.git
[submodule "sq12phase/src/cs/sq12phase"]
	path = sq12phase/src/cs/sq12phase
	url = git@github.com:cubing/sq12phase.git
[submodule "scrambler-interface/WebContent/scrambler-interface"]
	path = scrambler-interface/WebContent/scrambler-interface
	url = git@github.com:cubing/scrambler-interface.git
[submodule "min2phase/src/cs/min2phase"]
	path = min2phase/src/cs/min2phase
	url = git@github.com:cubing/min2phase.git
[submodule "threephase/src/cs/threephase"]
	path = threephase/src/cs/threephase
	url = git@github.com:cubing/TPR-4x4x4-Solver.git
