*.swp
*.class
dist/
build/
bin/
bin_tnoodle_resources/
.settings
.externalToolBuilders
.metadata
tmtc
*.pyc
*.log
node_modules/
*.iml
.gradle/
local.properties
TNoodle-WCA-*.jar
TNoodle-Build-latest.jar
tnoodle_resources/
tnoodle_pruning_cache/
**/tnoodle.log
version.tnoodle
*.hprof
gradle.properties
**/*.pkcs8.pem

.idea/
.vscode/
