html, body {
	font-family: sans-serif;
	overflow: hidden;
}
body {
	margin: 0px 8px 8px 8px;
}
img {
    border: none;
}

.link, .imglink {
	white-space: nowrap;
	color: brown;
	text-decoration: underline;
	cursor: pointer;
	padding-left: 5px;
}
.imglink {
	padding: 0px;
	vertical-align: middle;
}
.link:hover, .down {
	text-decoration: none;
	color: red;
}

#signIn {
	z-index: 4;
	position: absolute;
	top: 4px;
}
#signIn .link {
	/*display: block;*/
}
#sessionInfoBar {
	padding: 5px 10px;
}
#sessionInfo {
	padding-right: 5px;
}
#timesArea {
	border: 1px solid;
}
#puzzleChooser {
	border-bottom: 1px solid black;
	padding: 5px;
	background: #d0d0d0;
}

