span.changeSize {
}
span.increaseSize {
	font-size: 1.25em;
}
span.decreaseSize {
	font-size: 0.75em;
}
	
span.increaseSize, span.decreaseSize {
	cursor: pointer;
	color: brown;
}
span.increaseSize:hover, span.decreaseSize:hover {
	color: red;
}

span.turn {
	color: black;
	/*text-decoration: underline;*/
	cursor: pointer;
}
span.currTurn {
	color: red;
}
span.turn:hover {
	text-decoration: none;
}
.scrambleText {
    white-space: pre-wrap;
    margin: 0px;
    padding: 5px 10px;
}

area {/* apparently this doesn't work in opera or chrome */
    cursor: pointer;
}

div.scrambleArea {
    border: 1px solid #333;
    border-right: 0px;
}
div.scrambleHeader {
	padding: 5px 10px;
	position: relative;
    border-bottom: 1px solid #333;
    background-color: #EEE;
}
.importDiv {
	z-index: 1;
	position: absolute;
	background-color: #EEE;
	padding: 5px;
	border: 1px solid;
}

.button.changeColors {
	background: transparent url('../media/color_wheel.png') no-repeat scroll center center;
}
.button.reset {
	background: transparent url('../media/arrow_undo.png') no-repeat scroll center center;
}
.button.close {
	/* TODO - pretty close image? */
}
