#timesTable {
	/*border-style: hidden;*/
	border-collapse: collapse;
}
#timesTable thead tr, #timesTable tfoot tr {
	display: block;
}
#timesTable tbody {
	overflow-y: scroll;
	display: block;
}
#timesTable th {
	cursor: pointer;
}
#timesTable .table-th-sort-span {
	display: inline-block;
	width: 16px;
	height: 16px;
}
#timesTable .table-th-sort .table-th-sort-span {
	background: transparent url('../media/bullet_arrow_up.png') 0px 0px no-repeat;
}

#timesTable .table-th-sort-rev .table-th-sort-span {
	background: transparent url('../media/bullet_arrow_down.png') 0px 0px no-repeat;
	width: 16px;
	height: 16px;
}

#timesTable td, #timesTable th {
	border: 1px solid;
	padding: 1px 5px 1px 5px;
	border-style: inset;
	border-color: black;
	text-align: right;
	border-left: 0px;
}

#timesTable tr:nth-child(even) {background: #CCC;}
#timesTable tr:nth-child(odd) {background: transparent;}

#timesTable tbody tr:hover, tbody tr:hover td, #timesTable tr.addTime:hover, #timesTable tr.editRow, #timesTable tr.penaltyRow {
	background-color: rgb(160, 160, 255) !important;
}

.errorField {
	color: red;
}
#timesTable tbody tr.sizerRow {
	visibility: hidden;
}
#timesTable tbody tr.sizerRow td {
	border-color: transparent;
}
#timesTable tbody tr td.deleteTime { /* TODO: pretty picture! */
	cursor: pointer;
	border-bottom: none;
	text-align: center;
}
#timesTable tbody tr td.extendedDeleteTime { /* TODO: pretty picture! */
	cursor: pointer;
	border-top: none;
}
#timesTable tbody tr td.currentRA {
	border-left: 2px solid red;
	border-right: 2px solid red;
}
#timesTable tbody tr td.topCurrentRA {
	border-top: 2px solid red;
}
#timesTable tbody tr td.bottomCurrentRA {
	border-bottom: 2px solid red;
}
.bestRA, #timesTable tbody tr td.bestRA {
	background-color: rgba(196,255,255, .8);
}
.bestTime {
	color: rgb(0,128,0);
}
.worstTime {
	color: rgb(255,0,0);
}
