.grayOut {
	z-index: 5;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

ul.tabs {
	margin: 5px 0px 0px 0px;
}

ul.tabs li {
	background-color: gray;
	display: inline;
	border: 1px solid black;
	padding: 4px;
}
ul.tabs li:hover {
	background-color: black;
	color: white;
}
ul.tabs li.active {
	background-color: transparent;
	border-bottom: 1px solid #EEE;
}
ul.tabs li.active.white {
	background-color: white;
	border-bottom: 1px solid white;
}

.optionsButton {
	color: #000;
	text-align: center;
	font-size: 16px;
}
.optionsButtonHover {
	color: #fff;
}
.options {
	z-index: 5;
	position: absolute;
	background: white;
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}
.popup {
	z-index: 5;
	position: absolute;
	background-color: #EEE;
	padding: 5px;
	border: 1px solid;
}

span.select {
	white-space: nowrap;
	cursor: default;
	margin: 5px;
	padding: 1px 0px 1px 3px; /* If you change this, you may need to change .leftarrow */
	border: 1px solid gray;
	border-radius: 2px;
	-moz-border-radius: 2px;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: black;
	background: -moz-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background:-moz-linear-gradient(top, #f9f9f9, #e3e3e3);
}

.select.selecting {
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#777), to(#999));
	background:-moz-linear-gradient(top, #777, #999);
}

.select:hover {
	border-color: black;
}

.select.disabled {
	color: gray;
}

.select .options {
	z-index: 4;
	padding: 5px;
	position: absolute;
	background: #e3e3e3;
	-webkit-box-shadow: #8B8B8B 0px 4px 10px;
}

.select .option {
	white-space: nowrap;
}

.select .option.hovered {
	background: white;
}

.leftarrow, .rightarrow {
	font-size: 12px;
	padding: 2px;
}
.rightarrow {
	border-left: 1px solid gray;
	margin-left: 3px;
}
.leftarrow {
	border-right: 1px solid gray;
	margin-right: 3px;
	margin-left: -3px; /* This is pretty cool that it works, see .select */
}
.leftarrow.hovered, .rightarrow.hovered {
	border-color: black;
	color: white;
}
