html, body {
	font-family: sans-serif;
	overflow: hidden;
}
body {
	margin: 0px 8px 8px 8px;
}
img {
    border: none;
    padding: 1px;
}

.link {
	white-space: nowrap;
	color: brown;
	text-decoration: underline;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}
.link:hover, .down {
	text-decoration: none;
	color: red;
}

.tabs {
/* TODO: this doesn't overflow nicely */
	overflow: auto;
	
	/* This lets our tabs overflow the border below */
	position: relative;
	top: 1px;
	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style:none;
	line-height:1em;
}

.tabs li {
	float:left;
	margin:0;
	
	cursor: default;
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#aaa;
	padding: 5px 10px;
	border:1px solid black;
}

.tabs li .delete {
	margin-left: 10px;
	position: relative;
	right: 0px;
	cursor: pointer;
}

.tabs li .delete:hover {
	background: white;
}
.tabs li.active {
	border-bottom: 1px solid #efefef;
}
.tabs li:hover, .tabs li.active, #sessionInfoBar {
	background: #efefef;
}

#sessionInfoBar {
	padding: 5px 10px;
}

#timesArea {
	border: 1px solid;
}

.optionsButton {
	background-color: #fff;
	color: #000;
	
	position: absolute;
	top: 2px;
	right: 5px;
	width: 19px;
	height: 22px;
	text-align: center;
	z-index: 1;
}
.optionsButtonHover {
	background-color: #000;
	color: #fff;
	z-index: 5;
}
.options {
	position: absolute;
	background: white;
	border: 1px solid black;
	top: 24px;
	right: 5px;
	padding: 5px;
	text-align: left;
	z-index: 5;
}
