@font-face {  
	font-family: lcd;
	src: url("Digiface Regular.eot");
	src: 	local('Digiface Regular'), 
			url("Digiface Regular.ttf") format("truetype");  
}
#timer, #sizer {
	font-family: lcd;
	position: relative;  
}
