span.changeSize {
	float: left;
	line-height: 70%;
}
span.increaseSize {
	display: block;
	margin-bottom: 0px;
}
span.increaseSize, span.decreaseSize {
	cursor: pointer;
	color: brown;
}
span.increaseSize:hover, span.decreaseSize:hover {
	color: red;
}

span.link {
	color: brown;
	text-decoration: underline;
	cursor: pointer;
	padding: 10px;
}
span.link:hover, span.down {
	text-decoration: none;
	color: red;
}

span.turn {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}
span.currTurn {
	color: red;
}
span.turn:hover {
	text-decoration: none;
}
.scrambleText {
    white-space: pre-wrap;
    margin-top: 8px;
    margin-bottom: 5px;
}

area {/* apparently this doesn't work in opera or chrome */
    cursor: pointer;
}

div.scrambleArea {
	/*TODO - even spacing between top and bottom of scrambles */
    border: 1px solid #333;
    padding: 5px;
}
div.scrambleHeader {
	margin: -5px; /* I'm no css expert, but this seems to do the job */
	padding: 5px;
	position: relative;
    border-bottom: 1px solid #333;
    background-color: #EEE;
}
.importDiv {
	z-index: 1;
	position: absolute;
	margin-top: 24px; /* Is this really the way people do css?! */
	background-color: #EEE;
	padding: 5px;
	border: 1px solid;
}
