#timesTable {
	margin: 5px;
	/*border-style: hidden;*/
	border-collapse: collapse;
}
#timesTable thead tr, #timesTable tfoot tr {
	display: block;
}
#timesTable tbody {
	overflow: auto;
	display: block;
}
#timesTable th {
	cursor: pointer;
}
#timesTable .table-th-sort-span {
	display: inline-block;
	width: 16px;
	height: 16px;
}
#timesTable .table-th-sort .table-th-sort-span {
	background: transparent url('bullet_arrow_up.png') 0px 0px no-repeat;
}

#timesTable .table-th-sort-rev .table-th-sort-span {
	background: transparent url('bullet_arrow_down.png') 0px 0px no-repeat;
	width: 16px;
	height: 16px;
}

#timesTable td, #timesTable th {
	border: 1px solid;
	padding: 1px 2px 1px 2px;
	border-style: inset;
	border-color: black;
}

#timesTable tr:nth-child(even) {background: #CCC}
#timesTable tr:nth-child(odd) {background: #FFF}
#timesTable tbody tr:hover, #timesTable tr.addTime:hover, #timesTable tr.editRow, #timesTable tr.penaltyRow {
	background-color: rgb(160, 160, 255);
}
.errorField {
	color: red;
}

#timesTable tbody tr td.deleteTime { /* TODO: pretty picture! */
	cursor: pointer;
	border-bottom: none;
	text-align: center;
}
#timesTable tbody tr td.extendedDeleteTime { /* TODO: pretty picture! */
	cursor: pointer;
	border-top: none;
}
