html, body {
        font-family: sans-serif;
        overflow: hidden;
}
img.background {
        position: fixed;
        top: 0;
        left: 0;
}
body {
        margin: 0px 8px 8px 8px;
}
img {
    border: none;
}

/* 
 * TODO - Firefox doesn't seem to propogate the -moz-user-select: none attribute,
 * so we apply it to everything, and specifically allow selection in text
 * fields
 * */
* {
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -ms-user-select: none;
}
textarea, input {
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
}

.link, .imglink {
        white-space: nowrap;
        color: brown;
        text-decoration: underline;
        cursor: pointer;
        padding-left: 5px;
}
.imglink {
        padding: 0px;
        vertical-align: middle;
}
.link:hover, .down {
        text-decoration: none;
        color: red;
}

#signIn {
        z-index: 4;
        position: absolute;
        top: 4px;
}
#signIn .link {
        /*display: block;*/
}
#sessionInfoBar {
        padding: 5px 10px;
}
#sessionInfo {
        padding-right: 5px;
}
#timesArea {
        border: 1px solid;
        background: rgba(250, 250, 250, .8);
}
#puzzleChooser {
        border-bottom: 1px solid black;
        padding: 5px;
        background: rgba(208, 208, 208, .7);
}

