span.changeSize {
}
span.increaseSize {
        font-size: 1.25em;
}
span.decreaseSize {
        font-size: 0.75em;
}
        
span.increaseSize, span.decreaseSize {
        cursor: pointer;
        color: brown;
}
span.increaseSize:hover, span.decreaseSize:hover {
        color: red;
}

span.turn {
        color: black;
        /*text-decoration: underline;*/
        cursor: pointer;
        white-space: nowrap;
}
span.currTurn {
        color: red;
        white-space: nowrap;
}
span.turn:hover {
        text-decoration: none;
}
.padding {
    /** TODO this works on chrome, but not opera **/
    white-space: pre-wrap;
}
.scrambleText {
    white-space: normal;
        font-family: monospace;

        background: rgba(250, 250, 250, .8);
    padding: 5px 10px;
    margin: 0px;
        overflow-x: hidden;
        overflow-y: auto;
}
area {/* apparently this doesn't work in opera or chrome */
    cursor: pointer;
}

div.scrambleArea {
    border: 1px solid #333;
        margin-right: 5px;
}
div.scrambleHeader {
        padding: 5px 10px;
        position: relative;
    border-bottom: 1px solid #333;
    background: rgba(233, 233, 233, .7);
}

.button.changeColors {
        background: transparent url('../media/color_wheel.png') no-repeat scroll center center;
}
.button.reset {
        background: transparent url('../media/arrow_undo.png') no-repeat scroll center center;
}
