#timesTable {
        border-collapse: collapse;
}
#timesTable thead tr, #timesTable tfoot tr {
        display: block;
}
#timesTable tbody {
        overflow-y: scroll;
        display: block;
}
#timesTable th {
        cursor: pointer;
}
#timesTable .table-th-sort-span {
        display: inline-block;
        width: 16px;
        height: 16px;
}
#timesTable .table-th-sort .table-th-sort-span {
        background: transparent url('../media/bullet_arrow_up.png') 0px 0px no-repeat;
}

#timesTable .table-th-sort-rev .table-th-sort-span {
        background: transparent url('../media/bullet_arrow_down.png') 0px 0px no-repeat;
        width: 16px;
        height: 16px;
}

#timesTable td, #timesTable th {
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        padding: 1px 5px 1px 5px;
        border-style: inset;
        border-color: black;
        text-align: right;
}
#timesTable td {
        white-space: nowrap;
}
#timesTable th {
        border-width: 1px 1px 0px 0px;
}

#timesTable tbody tr.hovered {
        background-color: rgb(160, 160, 255);
}
#timesTable tbody tr.selected {
        background-color: rgb(255, 160, 255);
}
#timesTable tbody tr.hovered.selected {
        background-color: rgb(207, 160, 255);
}

.errorField {
        color: red;
}
#timesTable tbody tr.sizerRow {
        visibility: hidden;
}
#timesTable tbody tr.sizerRow td {
        border-color: transparent;
}
#timesTable tbody tr td.deleteTime {
        cursor: pointer;
        border-bottom: none;
        text-align: center;
}
#timesTable .currentRA {
        border-left: 2px solid red;
        border-right: 2px solid red;
}
#timesTable .topCurrentRA {
        border-top: 2px solid red;
}
#timesTable .bottomCurrentRA {
        border-bottom: 2px solid red;
}
.bestRA, #timesTable tbody tr td.bestRA {
        background-color: rgba(196,255,255, .8);
}
.bestTime {
        color: rgb(0,128,0);
}
.worstTime {
        color: rgb(255,0,0);
}
