.grayOut {
	z-index: 5;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

ul.tabs {
	margin: 5px 0px 0px 0px;
}

ul.tabs li {
	background-color: gray;
	display: inline;
	border: 1px solid black;
	padding: 4px;
}
ul.tabs li:hover {
	background-color: black;
	color: white;
}
ul.tabs li.active {
	background-color: transparent;
	border-bottom: 1px solid #EEE;
}
ul.tabs li.active.white {
	background-color: white;
	border-bottom: 1px solid white;
}

.optionsButton {
	color: #000;
	text-align: center;
	font-size: 16px;
}
.optionsButtonHover {
	color: #fff;
}
.options {
	z-index: 5;
	position: absolute;
	background: white;
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}
.popup {
	z-index: 5;
	position: absolute;
	background-color: #EEE;
	padding: 5px;
	border: 1px solid;
}

span.select {
	white-space: nowrap;
	cursor: default;
	margin: 5px;
	padding: 1px 0px 1px 3px; /* If you change this, you may need to change .leftarrow */
	border: 1px solid gray;
	border-radius: 2px;
	-moz-border-radius: 2px;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: black;
	background: -moz-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background:-moz-linear-gradient(top, #f9f9f9, #e3e3e3);
}

.select.selecting {
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#777), to(#999));
	background:-moz-linear-gradient(top, #777, #999);
}

.select:hover {
	border-color: black;
}

.select.disabled {
	color: gray;
}

.select .options {
	z-index: 4;
	padding: 5px;
	position: absolute;
	background: #e3e3e3;
	-webkit-box-shadow: #8B8B8B 0px 4px 10px;
}

.select .option {
	white-space: nowrap;
}

.select .option.hovered {
	background: white;
}

.leftarrow, .rightarrow {
	font-size: 12px;
	padding: 2px;
}
.rightarrow {
	border-left: 1px solid gray;
	margin-left: 3px;
}
.leftarrow {
	border-right: 1px solid gray;
	margin-right: 3px;
	margin-left: -3px; /* This is pretty cool that it works, see .select */
}
.leftarrow.hovered, .rightarrow.hovered {
	border-color: black;
	color: white;
}
@font-face {  
	font-family: lcd;
	src: url("../media/Digiface Regular.eot");
	src: 	local('Digiface Regular'), 
			url("../media/Digiface Regular.ttf") format("truetype");  
}
#time, #sizer {
	font-family: lcd;
	position: relative;
	text-align: center;
}
.inspecting {
	color: red;
}
.keysDown {
	color: green;
}
.fullscreenTimerBg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	z-index: 6;
}
.fullscreenTimer {
	color: red;
	z-index: 7;
}
span.changeSize {
}
span.increaseSize {
	font-size: 1.25em;
}
span.decreaseSize {
	font-size: 0.75em;
}
	
span.increaseSize, span.decreaseSize {
	cursor: pointer;
	color: brown;
}
span.increaseSize:hover, span.decreaseSize:hover {
	color: red;
}

span.turn {
	color: black;
	/*text-decoration: underline;*/
	cursor: pointer;
	white-space: nowrap;
}
span.currTurn {
	color: red;
	white-space: nowrap;
}
span.turn:hover {
	text-decoration: none;
}
.padding {
    /** TODO this works on chrome, but not opera **/
    white-space: pre-wrap;
}
.scrambleText {
    white-space: normal;

	background: rgba(250, 250, 250, .8);
    margin: 0px;
    padding: 5px 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
area {/* apparently this doesn't work in opera or chrome */
    cursor: pointer;
}

div.scrambleArea {
    border: 1px solid #333;
	margin-right: 5px;
}
div.scrambleHeader {
	padding: 5px 10px;
	position: relative;
    border-bottom: 1px solid #333;
    background: rgba(233, 233, 233, .7);
}

.button.changeColors {
	background: transparent url('../media/color_wheel.png') no-repeat scroll center center;
}
.button.reset {
	background: transparent url('../media/arrow_undo.png') no-repeat scroll center center;
}
.button.close {
	/* TODO - pretty close image? */
}
#timesTable {
	border-collapse: collapse;
}
#timesTable thead tr, #timesTable tfoot tr {
	display: block;
}
#timesTable tbody {
	overflow-y: scroll;
	display: block;
}
#timesTable th {
	cursor: pointer;
}
#timesTable .table-th-sort-span {
	display: inline-block;
	width: 16px;
	height: 16px;
}
#timesTable .table-th-sort .table-th-sort-span {
	background: transparent url('../media/bullet_arrow_up.png') 0px 0px no-repeat;
}

#timesTable .table-th-sort-rev .table-th-sort-span {
	background: transparent url('../media/bullet_arrow_down.png') 0px 0px no-repeat;
	width: 16px;
	height: 16px;
}

#timesTable td, #timesTable th {
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	padding: 1px 5px 1px 5px;
	border-style: inset;
	border-color: black;
	text-align: right;
}
#timesTable td {
	white-space: nowrap;
}
#timesTable th {
	border-width: 1px 1px 0px 0px;
}

#timesTable tbody tr.hovered {
	background-color: rgb(160, 160, 255);
}
#timesTable tbody tr.selected {
	background-color: rgb(255, 160, 255);
}
#timesTable tbody tr.hovered.selected {
	background-color: rgb(207, 160, 255);
}

.errorField {
	color: red;
}
#timesTable tbody tr.sizerRow {
	visibility: hidden;
}
#timesTable tbody tr.sizerRow td {
	border-color: transparent;
}
#timesTable tbody tr td.deleteTime {
	cursor: pointer;
	border-bottom: none;
	text-align: center;
}
#timesTable .currentRA {
	border-left: 2px solid red;
	border-right: 2px solid red;
}
#timesTable .topCurrentRA {
	border-top: 2px solid red;
}
#timesTable .bottomCurrentRA {
	border-bottom: 2px solid red;
}
.bestRA, #timesTable tbody tr td.bestRA {
	background-color: rgba(196,255,255, .8);
}
.bestTime {
	color: rgb(0,128,0);
}
.worstTime {
	color: rgb(255,0,0);
}
html, body {
	font-family: sans-serif;
	overflow: hidden;
}
img.background {
	position: fixed;
	top: 0;
	left: 0;
}
body {
	margin: 0px 8px 8px 8px;
}
img {
    border: none;
}

.link, .imglink {
	white-space: nowrap;
	color: brown;
	text-decoration: underline;
	cursor: pointer;
	padding-left: 5px;
}
.imglink {
	padding: 0px;
	vertical-align: middle;
}
.link:hover, .down {
	text-decoration: none;
	color: red;
}

#signIn {
	z-index: 4;
	position: absolute;
	top: 4px;
}
#signIn .link {
	/*display: block;*/
}
#sessionInfoBar {
	padding: 5px 10px;
}
#sessionInfo {
	padding-right: 5px;
}
#timesArea {
	border: 1px solid;
	background: rgba(250, 250, 250, .8);
}
#puzzleChooser {
	border-bottom: 1px solid black;
	padding: 5px;
	background: rgba(208, 208, 208, .7);
}

.titlebar {
    height: 20px;
    background-color: #CCC;
    border-bottom: 1px solid #666;
    cursor: move;
	overflow: hidden;
}
.titletext {
    float: left;
    padding-left: 5px;
}
.window {
    position: absolute;
    overflow: hidden;
    background-color: #EEE;
    border: 1px solid #333;
    z-index: 1;
}
.button {
    font-family: sans-serif;
    text-align: center;
    
	float: right;
    cursor: pointer;
    padding: 2px 2px 3px;
	width: 16px;
	height: 16px;
}
.button:hover, .button.buttondown:hover {
    background-color: #888 !important; /* I have no idea why I need the !important */
}
.button.buttondown, .button:active {
    background-color: #EEE;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}
.dragresize {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #333;
    font-size: 1px;
    height: 5px;
    position: absolute;
    width: 5px;
}
.dragresize-br {
    cursor: se-resize;
    bottom: -1px;
    right: -1px;
}
