.messageArea {
	width: 100%;
	height: 90%;
	border-bottom: 1px solid black;
	word-wrap: break-word;
	overflow-y: auto;
	font-family: sans-serif;
}
.messageArea > * {
	margin-left: 5px;
	margin-right: 5px;
}

span.nick {
	font-weight:bold;
}

.unconfirmedMessage {
	text-indent: -7px;
	margin-left: 7px;
	color: gray;
}

.confirmedMessage {
	padding-top: 1px;
	text-indent: -7px;
	margin-left: 7px;
	color: black;
}

.serverSideMessage {
	text-indent: -7px;
	margin-left: 7px;
	font-style: italic;
        color: green;
}

.clientSideMessage {
	text-indent: -7px;
	margin-left: 7px;
        color: red;
}

.messageTimestamp {
	color: gray;
	font-size: 90%;
	text-indent: -7px;
	margin-left: 7px;
}

.chatBox {
	width: 100%;
	height: 10%;
	padding: 5px;
	resize: none;
	border: none;
	font-family: sans-serif;
}

.chatArea {
	border-left: 1px solid black;
}
