.readySetGo {
        z-index: 1;
        background: black;
        opacity: 1;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        text-align: center;
        color: red;
}

.grayOut {
        z-index: 1;
        background: black;
        opacity: 0.3;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
}

.adminName {
        font-weight: bold;
        height: 20px;
}
.nonAdminName {
        height: 20px;
}

.cursorPosition {
  position: absolute;

  width: 10px; height: 10px;
  -webkit-border-radius: 10px; -moz-border-radius: 10px;
  background-color: red;
  border: 5px solid black;
}
