.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-logo.busy {
  animation: app-logo-spin infinite 500ms linear;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
