@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

$app-header-bg-color: black;
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $app-header-bg-color;
  padding: 20px;
  color: white;

  a {
    color: #ddda45; // The yellow from the logo
  }

  .app-logo {
    height: 80px;

    &.busy {
      animation: 500ms app-logo-spin infinite linear;
    }
  }

  &.alarm {
    animation: 500ms alarm-flash infinite alternate linear;
  }

  &.error {
    .app-logo {
      transform: rotate(180deg);
    }
  }
}

.competitions-picker {
  .list-group {
    max-width: 400px;
  }
}

.app-intro {
  font-size: large;
  text-align: left;
}

.btn-home {
  font-size: 50px;
  padding: 30px;
}

.pointer {
  cursor: pointer;
}

@keyframes alarm-flash {
  from { background-color: $app-header-bg-color; }
  to { background-color: red; }
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
