body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;

  .app-logo {
    height: 80px;

    &.busy {
      animation: app-logo-spin infinite 500ms linear;
    }
  }

  &.error {
    .app-logo {
      transform: rotate(180deg);
    }
  }
}

.app-intro {
  font-size: large;
  text-align: left;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
